body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.donation-head {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.929), rgba(0, 0, 0, 0.181)), url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    height: 500px;
    display: flex;

}

.donation-main {
    text-align: center;
    width: 50%;
    margin: auto;
}

.donation-main h1 {
    color: #fff;
    font-size: 55px;
    margin: 0;
}

.donation-main p {
    color: #fff;
    font-size: 18px;
    padding: 30px;
    line-height: 1.6;
}

.btn-link {
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background-color: #FF5959;
    border-radius: 5px;
    font-weight: 600;
}

.donation-today {
    text-align: center;
    margin: 100px auto 50px;
    width: 50%;
}

.today-area h2 {
    font-size: 45px;
}

.today-area p {
    font-size: 18px;
    padding: 0 15%;
    line-height: 1.6;
}

.donate-amount-box {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

.donate-amount-box div {
    padding: 15px 30px;
    background-color: #FAFAFA;
    border-radius: 8px;
}

.donate-amount-box div h3 {
    font-size: 25px;
    color: #707070;
}

#box-select {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

#box-select h3 {
    color: #FF5959;
}

.input-box input {
    border: 0px solid;
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.input-box input:focus {
    outline: none;
}

::placeholder {
    color: #B3B3B3;
}

#donate-btn {
    margin: 50px 0;
}

.main-plan {
    margin: 200px auto 50px;
    width: 50%;
    text-align: center;
}

.donate-plan {
    margin: 100px auto 50px;
}

.main-plan h2 {
    font-size: 45px;
}

.main-plan p {
    font-size: 18px;
    padding: 0 15%;
    line-height: 1.6;
}

.planing-row {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
}

.planing-box {
    width: 270px;
    height: 240px;
    margin: 60px 30px 20px;
    padding: 30px 30px 0 30px;
}

#box-1 {
    background-color: #4f9da658;
}

#box-2 {
    background-color: #ff595955;
}

#box-3 {
    background-color: #fff4d6c4;
}

.ts-head {
    text-align: center;
    margin: 100px auto 20px;
    width: 50%;
}

.ts-head h2 {
    font-size: 45px;
}

.ts-head p {
    font-size: 18px;
    padding: 0 15%;
    line-height: 1.6;
}

.testimonial-box {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin: auto;
}

.testimonial-content {
    display: flex;
    padding: 20px 20px;
}

.testimonial-content img {
    margin-top: 30px;
}

.ts-speech {
    padding-left: 20px;
}

.speech {
    color: #777;
}